---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/karinamzalez/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb2f73e8338f32b9067bc258eeddc44a50d43c79
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1468536662'
      Etag:
      - W/"2de882f188aa99ca21d1cdc90b038b1e"
      Last-Modified:
      - Thu, 14 Jul 2016 21:19:08 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 4ffa7f31c726c9622039
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/14364118/events?page=2>; rel="next", <https://api.github.com/user/14364118/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4280384134","type":"PushEvent","actor":{"id":14364118,"login":"karinamzalez","display_login":"karinamzalez","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","avatar_url":"https://avatars.githubusercontent.com/u/14364118?"},"repo":{"id":63177679,"name":"karinamzalez/api-curious","url":"https://api.github.com/repos/karinamzalez/api-curious"},"payload":{"push_id":1203970397,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"3e1cd7c57c2e60f7908f55ef41a570bfc7b4dc26","before":"9ce210dd55034d8923a7fd612db9128cd1cc5f0b","commits":[{"sha":"17e7c4dc551bf04075af372aef35979bb49ba2ac","author":{"email":"karinamzalez@gmail.com","name":"Karina
        Gonzalez"},"message":"added links to nav and finished testing","distinct":false,"url":"https://api.github.com/repos/karinamzalez/api-curious/commits/17e7c4dc551bf04075af372aef35979bb49ba2ac"},{"sha":"3e1cd7c57c2e60f7908f55ef41a570bfc7b4dc26","author":{"email":"karinamzalez@gmail.com","name":"Karina
        Munoz Gonzalez"},"message":"Merge pull request #4 from karinamzalez/finishing_testing\n\nadded
        links to nav and finished testing","distinct":true,"url":"https://api.github.com/repos/karinamzalez/api-curious/commits/3e1cd7c57c2e60f7908f55ef41a570bfc7b4dc26"}]},"public":true,"created_at":"2016-07-14T21:19:08Z"},{"id":"4280384050","type":"PullRequestEvent","actor":{"id":14364118,"login":"karinamzalez","display_login":"karinamzalez","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","avatar_url":"https://avatars.githubusercontent.com/u/14364118?"},"repo":{"id":63177679,"name":"karinamzalez/api-curious","url":"https://api.github.com/repos/karinamzalez/api-curious"},"payload":{"action":"closed","number":4,"pull_request":{"url":"https://api.github.com/repos/karinamzalez/api-curious/pulls/4","id":77527825,"html_url":"https://github.com/karinamzalez/api-curious/pull/4","diff_url":"https://github.com/karinamzalez/api-curious/pull/4.diff","patch_url":"https://github.com/karinamzalez/api-curious/pull/4.patch","issue_url":"https://api.github.com/repos/karinamzalez/api-curious/issues/4","number":4,"state":"closed","locked":false,"title":"added
        links to nav and finished testing","user":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"body":"added
        following, followers, and starred links to navbar\r\nfinished testing \r\nturned
        list of repository names into list of repository links\r\n ","created_at":"2016-07-14T21:19:03Z","updated_at":"2016-07-14T21:19:07Z","closed_at":"2016-07-14T21:19:06Z","merged_at":"2016-07-14T21:19:06Z","merge_commit_sha":"3e1cd7c57c2e60f7908f55ef41a570bfc7b4dc26","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/karinamzalez/api-curious/pulls/4/commits","review_comments_url":"https://api.github.com/repos/karinamzalez/api-curious/pulls/4/comments","review_comment_url":"https://api.github.com/repos/karinamzalez/api-curious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/karinamzalez/api-curious/issues/4/comments","statuses_url":"https://api.github.com/repos/karinamzalez/api-curious/statuses/17e7c4dc551bf04075af372aef35979bb49ba2ac","head":{"label":"karinamzalez:finishing_testing","ref":"finishing_testing","sha":"17e7c4dc551bf04075af372aef35979bb49ba2ac","user":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"repo":{"id":63177679,"name":"api-curious","full_name":"karinamzalez/api-curious","owner":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/karinamzalez/api-curious","description":null,"fork":false,"url":"https://api.github.com/repos/karinamzalez/api-curious","forks_url":"https://api.github.com/repos/karinamzalez/api-curious/forks","keys_url":"https://api.github.com/repos/karinamzalez/api-curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/karinamzalez/api-curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/karinamzalez/api-curious/teams","hooks_url":"https://api.github.com/repos/karinamzalez/api-curious/hooks","issue_events_url":"https://api.github.com/repos/karinamzalez/api-curious/issues/events{/number}","events_url":"https://api.github.com/repos/karinamzalez/api-curious/events","assignees_url":"https://api.github.com/repos/karinamzalez/api-curious/assignees{/user}","branches_url":"https://api.github.com/repos/karinamzalez/api-curious/branches{/branch}","tags_url":"https://api.github.com/repos/karinamzalez/api-curious/tags","blobs_url":"https://api.github.com/repos/karinamzalez/api-curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/karinamzalez/api-curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/karinamzalez/api-curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/karinamzalez/api-curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/karinamzalez/api-curious/statuses/{sha}","languages_url":"https://api.github.com/repos/karinamzalez/api-curious/languages","stargazers_url":"https://api.github.com/repos/karinamzalez/api-curious/stargazers","contributors_url":"https://api.github.com/repos/karinamzalez/api-curious/contributors","subscribers_url":"https://api.github.com/repos/karinamzalez/api-curious/subscribers","subscription_url":"https://api.github.com/repos/karinamzalez/api-curious/subscription","commits_url":"https://api.github.com/repos/karinamzalez/api-curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/karinamzalez/api-curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/karinamzalez/api-curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/karinamzalez/api-curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/karinamzalez/api-curious/contents/{+path}","compare_url":"https://api.github.com/repos/karinamzalez/api-curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/karinamzalez/api-curious/merges","archive_url":"https://api.github.com/repos/karinamzalez/api-curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/karinamzalez/api-curious/downloads","issues_url":"https://api.github.com/repos/karinamzalez/api-curious/issues{/number}","pulls_url":"https://api.github.com/repos/karinamzalez/api-curious/pulls{/number}","milestones_url":"https://api.github.com/repos/karinamzalez/api-curious/milestones{/number}","notifications_url":"https://api.github.com/repos/karinamzalez/api-curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/karinamzalez/api-curious/labels{/name}","releases_url":"https://api.github.com/repos/karinamzalez/api-curious/releases{/id}","deployments_url":"https://api.github.com/repos/karinamzalez/api-curious/deployments","created_at":"2016-07-12T17:14:31Z","updated_at":"2016-07-14T14:48:14Z","pushed_at":"2016-07-14T21:19:07Z","git_url":"git://github.com/karinamzalez/api-curious.git","ssh_url":"git@github.com:karinamzalez/api-curious.git","clone_url":"https://github.com/karinamzalez/api-curious.git","svn_url":"https://github.com/karinamzalez/api-curious","homepage":null,"size":880,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"}},"base":{"label":"karinamzalez:master","ref":"master","sha":"9ce210dd55034d8923a7fd612db9128cd1cc5f0b","user":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.gi[...]
