---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/karinamzalez/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4900'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"bcfd3e9393206f5860f35b77c7b594d9"
      Last-Modified:
      - Thu, 01 Sep 2016 17:23:27 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/14364118/events?page=2>; rel="next", <https://api.github.com/user/14364118/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4503948988","type":"PushEvent","actor":{"id":14364118,"login":"karinamzalez","display_login":"karinamzalez","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","avatar_url":"https://avatars.githubusercontent.com/u/14364118?"},"repo":{"id":67056770,"name":"karinamzalez/handroll_oauth","url":"https://api.github.com/repos/karinamzalez/handroll_oauth"},"payload":{"push_id":1278662934,"size":4,"distinct_size":1,"ref":"refs/heads/master","head":"ee47cdd6ff75141fa096dba68112dccd61d92e48","before":"cd2eabb3b8e93e8fb5438b34d22ca94ece9a2744","commits":[{"sha":"009c3e52517637a0e523da51e3bd9f19215efb17","author":{"email":"karinamzalez@gmail.com","name":"Karina
        Gonzalez"},"message":"all tests passing","distinct":false,"url":"https://api.github.com/repos/karinamzalez/handroll_oauth/commits/009c3e52517637a0e523da51e3bd9f19215efb17"},{"sha":"f0598661ec1884510d9070e223bfde2500f843f9","author":{"email":"karinamzalez@gmail.com","name":"Karina
        Gonzalez"},"message":"added presenter","distinct":false,"url":"https://api.github.com/repos/karinamzalez/handroll_oauth/commits/f0598661ec1884510d9070e223bfde2500f843f9"},{"sha":"b93d3d53d42f74a222b701fd6eb3a341e6ad33bb","author":{"email":"karinamzalez@gmail.com","name":"Karina
        Gonzalez"},"message":"fixed colors of links","distinct":false,"url":"https://api.github.com/repos/karinamzalez/handroll_oauth/commits/b93d3d53d42f74a222b701fd6eb3a341e6ad33bb"},{"sha":"ee47cdd6ff75141fa096dba68112dccd61d92e48","author":{"email":"karinamzalez@gmail.com","name":"Karina
        Munoz Gonzalez"},"message":"Merge pull request #3 from karinamzalez/user_can_log_in\n\nUser
        can log in","distinct":true,"url":"https://api.github.com/repos/karinamzalez/handroll_oauth/commits/ee47cdd6ff75141fa096dba68112dccd61d92e48"}]},"public":true,"created_at":"2016-09-01T17:23:27Z"},{"id":"4503948936","type":"PullRequestEvent","actor":{"id":14364118,"login":"karinamzalez","display_login":"karinamzalez","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","avatar_url":"https://avatars.githubusercontent.com/u/14364118?"},"repo":{"id":67056770,"name":"karinamzalez/handroll_oauth","url":"https://api.github.com/repos/karinamzalez/handroll_oauth"},"payload":{"action":"closed","number":3,"pull_request":{"url":"https://api.github.com/repos/karinamzalez/handroll_oauth/pulls/3","id":83673216,"html_url":"https://github.com/karinamzalez/handroll_oauth/pull/3","diff_url":"https://github.com/karinamzalez/handroll_oauth/pull/3.diff","patch_url":"https://github.com/karinamzalez/handroll_oauth/pull/3.patch","issue_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/issues/3","number":3,"state":"closed","locked":false,"title":"User
        can log in","user":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"body":"*
        user can log in \r\n* all styling finished \r\n* all tests passing \r\n*consumed
        api","created_at":"2016-09-01T17:23:20Z","updated_at":"2016-09-01T17:23:25Z","closed_at":"2016-09-01T17:23:25Z","merged_at":"2016-09-01T17:23:25Z","merge_commit_sha":"ee47cdd6ff75141fa096dba68112dccd61d92e48","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/pulls/3/commits","review_comments_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/pulls/3/comments","review_comment_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/pulls/comments{/number}","comments_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/issues/3/comments","statuses_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/statuses/b93d3d53d42f74a222b701fd6eb3a341e6ad33bb","head":{"label":"karinamzalez:user_can_log_in","ref":"user_can_log_in","sha":"b93d3d53d42f74a222b701fd6eb3a341e6ad33bb","user":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"repo":{"id":67056770,"name":"handroll_oauth","full_name":"karinamzalez/handroll_oauth","owner":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/karinamzalez/handroll_oauth","description":null,"fork":false,"url":"https://api.github.com/repos/karinamzalez/handroll_oauth","forks_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/forks","keys_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/keys{/key_id}","collaborators_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/teams","hooks_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/hooks","issue_events_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/issues/events{/number}","events_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/events","assignees_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/assignees{/user}","branches_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/branches{/branch}","tags_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/tags","blobs_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/git/refs{/sha}","trees_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/git/trees{/sha}","statuses_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/statuses/{sha}","languages_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/languages","stargazers_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/stargazers","contributors_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/contributors","subscribers_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/subscribers","subscription_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/subscription","commits_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/commits{/sha}","git_commits_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/git/commits{/sha}","comments_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/comments{/number}","issue_comment_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/issues/comments{/number}","contents_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/contents/{+path}","compare_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/compare/{base}...{head}","merges_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/merges","archive_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/downloads","issues_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/issues{/number}","pulls_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/pulls{/number}","milestones_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/milestones{/number}","notifications_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/labels{/name}","releases_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/releases{/id}","deployments_url":"https://api.github.com/repos/karinamzalez/handroll_oauth/deployments","created_at":"2016-08-31T16:57:02Z","updated_at":"2016-08-31T16:58:28Z","pushed_at":"2016-09-01T17:23:25Z","git_url":"git://github.com/karinamzalez/handroll_oauth.git","ssh_url":"git@github.com:karinamzalez/handroll_oauth.git","clone_url":"https://github.com/karinamzalez/handroll_oauth.git","svn_url":"https://github.com/karinamzalez/handroll_oauth","homepage":null,"size":65,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"karinamzalez:master","ref":"master","sha":"cd2eabb3b8e93e8fb5438b34d22ca94ece9a2744","user":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.gi[...]
