---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4899'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"7a29d66e24ac29590e035397d117281c"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mikedao/subscriptions","organizations_url":"https://api.github.com/users/mikedao/orgs","repos_url":"https://api.github.com/users/mikedao/repos","events_url":"https://api.github.com/users/mikedao/events{/privacy}","received_events_url":"https://api.github.com/users/mikedao/received_events","type":"User","site_admin":false},{"login":"jdliss","id":8560631,"avatar_url":"https://avatars.githubusercontent.com/u/8560631?v=3","gravatar_id":"","url":"https://api.github.com/users/jdliss","html_url":"https://github.com/jdliss","followers_url":"https://api.github.com/users/jdliss/followers","following_url":"https://api.github.com/users/jdliss/following{/other_user}","gists_url":"https://api.github.com/users/jdliss/gists{/gist_id}","starred_url":"https://api.github.com/users/jdliss/starred{/owner}{/repo}","subscription[...]
- request:
    method: get
    uri: https://api.github.com/users/mikedao/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4898'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"f4a7855fcad3a926e154a962a3c2c835"
      Last-Modified:
      - Thu, 01 Sep 2016 16:29:39 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/3011748/events?page=2>; rel="next", <https://api.github.com/user/3011748/events?page=9>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4503667069","type":"PushEvent","actor":{"id":3011748,"login":"mikedao","display_login":"mikedao","gravatar_id":"","url":"https://api.github.com/users/mikedao","avatar_url":"https://avatars.githubusercontent.com/u/3011748?"},"repo":{"id":21002580,"name":"turingschool/ruby-submissions","url":"https://api.github.com/repos/turingschool/ruby-submissions"},"payload":{"push_id":1278573107,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"bd2af47f3233723b19cef3b7d4b1178efa266b83","before":"7103b15eea9cd071c9f60b7120cd237a91f4c7b3","commits":[{"sha":"bd2af47f3233723b19cef3b7d4b1178efa266b83","author":{"email":"michael.dao@gmail.com","name":"Michael
        Dao"},"message":"Update tessa_noah.markdown","distinct":true,"url":"https://api.github.com/repos/turingschool/ruby-submissions/commits/bd2af47f3233723b19cef3b7d4b1178efa266b83"}]},"public":true,"created_at":"2016-09-01T16:29:39Z","org":{"id":7934292,"login":"turingschool","gravatar_id":"","url":"https://api.github.com/orgs/turingschool","avatar_url":"https://avatars.githubusercontent.com/u/7934292?"}},{"id":"4503502565","type":"PushEvent","actor":{"id":3011748,"login":"mikedao","display_login":"mikedao","gravatar_id":"","url":"https://api.github.com/users/mikedao","avatar_url":"https://avatars.githubusercontent.com/u/3011748?"},"repo":{"id":21002580,"name":"turingschool/ruby-submissions","url":"https://api.github.com/repos/tur[...]
- request:
    method: get
    uri: https://api.github.com/users/jdliss/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4897'
      X-Ratelimit-Reset:
      - '14[...]
- request:
    method: get
    uri: https://api.github.com/users/Carmer/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4896'
      X-Ratelimit-Reset:
      - '14[...]
- request:
    method: get
    uri: https://api.github.com/users/s-espinosa/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4895'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"9ea008007c08601836641f9cf4399e4a"
      Last-Modified:
      - Thu, 01 Sep 2016 16:26:43 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/10855116/events?page=2>; rel="next", <https://api.github.com/user/10855116/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4503651408","type":"IssueCommentEvent","actor":{"id":10855116,"login":"s-espinosa","display_login":"s-espinosa","gravatar_id":"","url":"https://api.github.com/users/s-espinosa","avatar_url":"https://avatars.githubusercontent.com/u/10855116?"},"repo":{"id":23230424,"name":"turingschool/lesson_plans","url":"https://api.github.com/repos/turingschool/lesson_plans"},"payload":{"action":"created","issue":{"url":"https://api.github.com/repos/turingschool/lesson_plans/issues/244","repository_url":"https://api.github.com/repos/turingschool/lesson_plans","labels_url":"https://api.github.com/repos/turingschool/lesson_plans/issues/244/labels{/name}","comments_url":"https://api.github.com/repos/turingschool/lesson_plans/issues/244/comments","events_url":"https://api.github.com/repos/turingschool/lesson_plans/issues/244/events","html_url":"https://github.com/turingschool/lesson_plans/pull/244","id":173925716,"number":244,"title":"[WIP]
        Update mix master","user":{"login":"s-espinosa","id":10855116,"avatar_url":"https://avatars.githubusercontent.com/u/10855116?v=3","gravatar_id":"","url":"https://api.github.com/users/s-espinosa","html_url":"https://github.com/s-espinosa","followers_url":"https://api.github.com/users/s-espinosa/followers","following_url":"https://api.github.com/users/s-espinosa/following{/other_user}","gists_url":"https://api.github.com/users/s-espinosa/gists{/gist_id}","starred_url":"https://api.github.com/users/s-espinosa/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/s-espinosa/subscriptions","organizations_url":"https://api.github.com/users/s-espinosa/orgs","repos_url":"https://api.github.com/users/s-espinosa/repos","events_url":"https://api.github.com/users/s-espinosa/events{/privacy}","received_events_url":"https://api.github.com/users/s-espinosa/received_events","type":"User","site_admin":false},"labels":[{"url":"https://api.github.com/repos/turingschool/lesson_plans/labels/in%20progress","name":"in
        progress","color":"ededed"}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":1,"created_at":"2016-08-30T04:08:40Z","updated_at":"2016-09-01T16:26:43Z","closed_at":null,"pull_request":{"url":"https://api.github.com/repos/turingschool/lesson_plans/pulls/244","html_url":"https://github.com/turingschool/lesson_plans/pull/244","diff_url":"https://github.com/turingschool/lesson_plans/pull/244.diff","patch_url":"https://github.com/turingschool/lesson_plans/pull/244.patch"},"body":"@Carmer
        @case-eee \r\n\r\nHere are my initial updates to Mix Master. A couple of quick
        notes:\r\n\r\n* I think Casey has some additional comments from 1605. I can
        compare those against the changes I''ve already made and incorporate.\r\n*
        I''m wondering if iterations 6/7 would be better either later in the module
        or even as part of the intermission work between 2 and 3. Let''s discuss next
        time we''re all together.\r\n\r\nThanks!"},"comment":{"url":"https://api.github.com/repos/turingschool/lesson_plans/issues/comments/244134271","html_url":"https://github.com/turingschool/lesson_plans/pull/244#issuecomment-244134271","issue_url":"https://api.github.com/repos/turingschool/lesson_plans/issues/244","id":244134271,"user":{"login":"s-espinosa","id":10855116,"avatar_url":"https://avatars.githubusercontent.com/u/10855116?v=3","gravatar_id":"","url":"https://api.github.com/users/s-espinosa","html_url":"https://github.com/s-espinosa","followers_url":"https://api.github.com/users/s-espinosa/followers","following_url":"https://api.github.com/users/s-espinosa/following{/other_user}","gists_url":"https://api.github.com/users/s-espin[...]
- request:
    method: get
    uri: https://api.github.com/users/GKhalsa/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4894'
      X-Ratelimit-Reset:
      - '1[...]
- request:
    method: get
    uri: https://api.github.com/users/kjs222/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4893'
      X-Ratelimit-Reset:
      - '14[...]
- request:
    method: get
    uri: https://api.github.com/users/marlomajor/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      -[...]
- request:
    method: get
    uri: https://api.github.com/users/saylerb/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1[...]
- request:
    method: get
    uri: https://api.github.com/users/Jbern16/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4890'
      X-Ratelimit-Reset:
      - '1[...]
- request:
    method: get
    uri: https://api.github.com/users/kristindiannefoss/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4889'
      X-Ratelimit-Reset:
[...]
- request:
    method: get
    uri: https://api.github.com/users/ckaminer/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4888'
      X-Ratelimit-Reset:
      - '[...]
