---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4885'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"fe47ea52a764f5e378485381a4938415"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mikedao/subscriptions","organizations_url":"https://api.github.com/users/mikedao/orgs","repos_url":"https://api.github.com/users/mikedao/repos","events_url":"https://api.github.com/users/mikedao/events{/privacy}","received_events_url":"https://api.github.com/users/mikedao/received_events","type":"User","site_admin":false},{"login":"AnnaCW","id":17806544,"avatar_url":"https://avatars.githubusercontent.com/u/17806544?v=3","gravatar_id":"","url":"https://api.github.com/users/AnnaCW","html_url":"https://github.com/AnnaCW","followers_url":"https://api.github.com/users/AnnaCW/followers","following_url":"https://api.github.com/users/AnnaCW/following{/other_user}","gists_url":"https://api.github.com/users/AnnaCW/gists{/gist_id}","starred_url":"https://api.github.com/users/AnnaCW/starred{/owner}{/repo}","subscripti[...]
