---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4884'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"7a29d66e24ac29590e035397d117281c"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mikedao/subscriptions","organizations_url":"https://api.github.com/users/mikedao/orgs","repos_url":"https://api.github.com/users/mikedao/repos","events_url":"https://api.github.com/users/mikedao/events{/privacy}","received_events_url":"https://api.github.com/users/mikedao/received_events","type":"User","site_admin":false},{"login":"jdliss","id":8560631,"avatar_url":"https://avatars.githubusercontent.com/u/8560631?v=3","gravatar_id":"","url":"https://api.github.com/users/jdliss","html_url":"https://github.com/jdliss","followers_url":"https://api.github.com/users/jdliss/followers","following_url":"https://api.github.com/users/jdliss/following{/other_user}","gists_url":"https://api.github.com/users/jdliss/gists{/gist_id}","starred_url":"https://api.github.com/users/jdliss/starred{/owner}{/repo}","subscription[...]
