---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4882'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"cd19d765b05c80dc825d35b6c76f14fe"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":61848035,"name":"little_shop","full_name":"karinamzalez/little_shop","owner":{"login":"karinamzalez","id":14364118,"avatar_url":"https://avatars.githubusercontent.com/u/14364118?v=3","gravatar_id":"","url":"https://api.github.com/users/karinamzalez","html_url":"https://github.com/karinamzalez","followers_url":"https://api.github.com/users/karinamzalez/followers","following_url":"https://api.github.com/users/karinamzalez/following{/other_user}","gists_url":"https://api.github.com/users/karinamzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/karinamzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/karinamzalez/subscriptions","organizations_url":"https://api.github.com/users/karinamzalez/orgs","repos_url":"https://api.github.com/users/karinamzalez/repos","events_url":"https://api.github.com/users/karinamzalez/events{/privacy}","received_events_url":"https://api.github.com/users/karinamzalez/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/karinamzalez/little_shop","description":null,"fork":true,"url":"https://api.github.com/repos/karinamzalez/little_shop","forks_url":"https://api.github.com/repos/karinamzalez/little_shop/forks","keys_url":"https://api.github.com/repos/karinamzalez/little_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/karinamzalez/little_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/karinamzalez/little_shop/teams","hooks_url":"https://api.github.com/repos/karinamzalez/little_shop/hooks","issue_events_url":"https://api.github.com/repos/karinamzalez/little_shop/issues/events{/number}","events_url":"https://api.github.com/repos/karinamzalez/little_shop/events","assignees_url":"https://api.github.com/repos/karinamzalez/little_shop/assignees{/user}","branches_url":"https://api.github.com/repos/karinamzalez/little_shop/branches{/branch}","tags_url":"https://api.github.com/repos/karinamzalez/little_shop/tags","blobs_url":"https://api.github.com/repos/karinamzalez/little_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/karinamzalez/little_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/karinamzalez/little_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/karinamzalez/little_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/karinamzalez/little_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/karinamzalez/little_shop/languages","stargazers_url":"https://api.github.com/repos/karinamzalez/little_shop/stargazers","contributors_url":"https://api.github.com/repos/karinamzalez/little_shop/contributors","subscribers_url":"https://api.github.com/repos/karinamzalez/little_shop/subscribers","subscription_url":"https://api.github.com/repos/karinamzalez/little_shop/subscription","commits_url":"https://api.github.com/repos/karinamzalez/little_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/karinamzalez/little_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/karinamzalez/little_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/karinamzalez/little_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/karinamzalez/little_shop/contents/{+path}","compare_url":"https://api.github.com/repos/karinamzalez/little_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/karinamzalez/little_shop/merges","archive_url":"https://api.github.com/repos/karinamzalez/little_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/karinamzalez/little_shop/downloads","issues_url":"https://api.github.com/repos/karinamzalez/little_shop/issues{/number}","pulls_url":"https://api.github.com/repos/karinamzalez/little_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/karinamzalez/little_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/karinamzalez/little_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/karinamzalez/little_shop/labels{/name}","releases_url":"https://api.github.com/repos/karinamzalez/little_shop/releases{/id}","deployments_url":"https://api.github.com/repos/karinamzalez/little_shop/deployments","created_at":"2016-06-24T01:33:10Z","updated_at":"2016-07-14T14:48:07Z","pushed_at":"2016-06-24T01:53:12Z","git_url":"git://github.com/karinamzalez/little_shop.git","ssh_url":"git@github.com:karinamzalez/little_shop.git","clone_url":"https://github.com/karinamzalez/little_shop.git","svn_url":"https://github.com/karinamzalez/little_shop","homepage":null,"size":6645,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":28012239,"name":"challenges","full_name":"turingschool/challenges","owner":{"login":"turingschool","id":7934292,"avatar_url":"https://avatars.githubusercontent.com/u/7934292?v=3","gravatar_id":"","url":"https://api.github.com/users/turingschool","html_url":"https://github.com/turingschool","followers_url":"https://api.github.com/users/turingschool/followers","following_url":"https://api.github.com/users/turingschool/following{/other_user}","gists_url":"https://api.github.com/users/t[...]
