---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 693ec383c3119c06c8257f00ba67b689e68b6690
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4881'
      X-Ratelimit-Reset:
      - '1472757516'
      Etag:
      - W/"edfe749ed74ac9075563b8e09b608505"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - ff018d004d8631812638
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":55811665,"name":"affordable-housing-app","full_name":"bethsebian/affordable-housing-app","owner":{"login":"bethsebian","id":12875824,"avatar_url":"https://avatars.githubusercontent.com/u/12875824?v=3","gravatar_id":"","url":"https://api.github.com/users/bethsebian","html_url":"https://github.com/bethsebian","followers_url":"https://api.github.com/users/bethsebian/followers","following_url":"https://api.github.com/users/bethsebian/following{/other_user}","gists_url":"https://api.github.com/users/bethsebian/gists{/gist_id}","starred_url":"https://api.github.com/users/bethsebian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bethsebian/subscriptions","organizations_url":"https://api.github.com/users/bethsebian/orgs","repos_url":"https://api.github.com/users/bethsebian/repos","events_url":"https://api.github.com/users/bethsebian/events{/privacy}","received_events_url":"https://api.github.com/users/bethsebian/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/bethsebian/affordable-housing-app","description":"","fork":false,"url":"https://api.github.com/repos/bethsebian/affordable-housing-app","forks_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/forks","keys_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/teams","hooks_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/hooks","issue_events_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/issues/events{/number}","events_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/events","assignees_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/assignees{/user}","branches_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/branches{/branch}","tags_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/tags","blobs_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/git/refs{/sha}","trees_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/statuses/{sha}","languages_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/languages","stargazers_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/stargazers","contributors_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/contributors","subscribers_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/subscribers","subscription_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/subscription","commits_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/commits{/sha}","git_commits_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/git/commits{/sha}","comments_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/comments{/number}","issue_comment_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/issues/comments{/number}","contents_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/contents/{+path}","compare_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/merges","archive_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/downloads","issues_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/issues{/number}","pulls_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/pulls{/number}","milestones_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/milestones{/number}","notifications_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/labels{/name}","releases_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/releases{/id}","deployments_url":"https://api.github.com/repos/bethsebian/affordable-housing-app/deployments","created_at":"2016-04-08T21:48:21Z","updated_at":"2016-04-08T21:51:30Z","pushed_at":"2016-05-21T20:21:58Z","git_url":"git://github.com/bethsebian/affordable-housing-app.git","ssh_url":"git@github.com:bethsebian/affordable-housing-app.git","clone_url":"https://github.com/bethsebian/affordable-housing-app.git","svn_url":"https://github.com/bethsebian/affordable-housing-app","homepage":null,"size":869,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":63632828,"name":"rails_engine","full_name":"ErinGreenhalgh/rails_engine","owner":{"login":"ErinGreenhalgh","id":16656094,"avatar_url":"https://avatars.githubusercontent.com/u/16656094?v=3","gravatar_id":"","url":"https://api.github.com/users/ErinGreenhalgh","html_url":"https://github.com/ErinGreenhalgh","followers_url":"https://api.github.com/users/ErinGreenhalgh/followers","following_url":"https://api.github.com/users/ErinGreenhalgh/following{/other_user}","gists_url":"https://api.[...]
