«/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body.homepage {
   background-color: #bdbdbd;
 }

 .white {
  color: white;
  font-size: 70px;
  text-align: center;
}

 .white-text {
  color: white;
  font-size: 22px;
  margin-bottom: -25px;
}

 .soft-text {
  color: #a4d2d1;
  font-size: 22px;
  margin-bottom: -25px;
}

.white-texxt {
  font-size: 22px;
  color: white;
}

.jumbotron {
    position: center;
    color: white;
    background: url("minimalist.jpg");
    width: 85%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.box {
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: -10px;
}

.box-grey {
  background: #2e2e2e;
  min-height: 150px;
}

.box-blue {
  background: #87b7b8;
  margin-left: -20px;
  min-height: 150px;
}

.white-t {
  color: white;
  text-align: center;
}

.list-box {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 400px;
  height: 235px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 100px;
  overflow: scroll;
}

.button-indigo {
  background-color: #87b7b8;
  color: white;
}
»
